<configuration>
    <!-- 全局日志级别为 INFO -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- 单独设置 com.jayway.jsonpath 的日志级别 -->
    <logger name="com.jayway.jsonpath" level="INFO" />

    <!-- 控制台输出配置 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>